<div class="category_menu">
    {% for cate in cate_list %}
        <!-- 一级菜单的数据-->
        <div class="category_menu_item">
            <span class="glyphicon glyphicon-gift"></span>
            <a href=""> {{ cate.name }} </a>
        </div>
        <!-- 一级菜单对应的二级菜单的数据-->
        <ul class="category_sub">
            {% for menu in cate.subs %}
                <li class="clear">
                    <a style="float: left" href="#"> {{ menu.name }}> </a>
                    {% for menu2 in menu.subs2 %}
                        <div style="float: left">
                            <a class="category_sub_item">{{ menu2.name }} </a>
                        </div>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>