{% extends 'base.html' %}
{% load staticfiles %}

{% block page_css %}

    <style type="text/css">
        .shop_img {
            float: left;
            width: 50%;
        }

        .shop_img li {
            float: left;
        }

        .shop_content {
            float: left;
            width: 50%;
        }

        .shop_content > img {
            float: left;
            width: 300px;
        }


    </style>

{% endblock %}
{% block page_jq %}
    <script type="text/javascript">
        $(function () {
            $('#join_btn').click(function () {
                data = {
                    'num': $('#num').val(),
                    'shop_id':{{ shop.shop_id }}
                };

                //  /car/add/?num=1&shop_id=124
                $.get('{% url 'add' %}', data)
            });
        });
        {% if msg %}
            window.alert({{ msg }});
        {% endif %}
    </script>

{% endblock %}

{% block page_content %}

    <div id="shop_detail" class="clear">
        <div class="shop_img">
            <img src="http://127.0.0.1:8000/static/img/middle/{{ shop.imgs.0.shop_img_id }}.jpg">
            <ul class="clear">
                {% for img in shop.imgs %}
                    {% if img.type == 'type_single' %}
                        <li><img src="http://127.0.0.1:8000/static/img/small/{{ img.shop_img_id }}.jpg"></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="shop_content">
            <h3>{{ shop.name }}</h3>
            <p>聚划算 此商品即将参加聚划算，1天19小时后开始</p>
            <p><img src="">通用</p>
            <p><span>价格</span><span> ¥{{ shop.original_price }}</span></p>
            <p><span>促销价</span><span> ¥{{ shop.promote_price }}</span></p>
            <p><span>销量</span><span>889</span> |<span>累计评价</span><span>32</span></p>
            <p><span>数量</span><input type="number" value="1" max="{{ shop.stock }}" min="1" id="num">件
                <span>库存{{ shop.stock }}件</span></p>
            <p>服务承诺 正品保证 极速退款 赠运费险 七天无理由退换</p>
            <p>
                <button type="button" id="buy_btn">立即购买</button>
                <button type="button" id="join_btn">加入购物车</button>
            </p>
        </div>
    </div>
    <div>
        {% include 'include/shop_detail_page.html' %}
    </div>


{% endblock %}
{% block page_head %}
    {% include 'include/top.html' %}
{% endblock %}


