<!DOCTYPE html>
<html lang="en">
{#母版#}
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>
        {% block  page_title %}
        {% endblock %}
    </title>
    <link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdn.bootcss.com/jquery/2.2.2/jquery.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link href="{% static 'css/bootstrap/3.3.6/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="{% static 'css/fore/style.css' %}" rel="stylesheet">

    {% block page_css %}
    {% endblock %}
    {% block page_jq %}
    {% endblock %}

</head>
<body>
<div>
    <div id="head">
        {% block page_head %}

        {% endblock %}
    </div>

    <div id="content">

        {% block page_content %}
        {% endblock %}

    </div>
    <div id="footer">
        {% block page_footer %}
        {% endblock %}
    </div>
</div>
</body>
</html>